{{#each tags as |tag index|~}}
  <li class="emberTagInput-tag">
    {{#if _isRemoveButtonVisible}}
      {{#unless showRemoveButtonAfter}}<span role="button" class="emberTagInput-remove" {{action 'removeTag' tags index}}></span>{{/unless}}
    {{/if}}
    {{tag}}
    {{#if _isRemoveButtonVisible}}
      {{#if showRemoveButtonAfter}}<span role="button" class="emberTagInput-remove" {{action 'removeTag' tags index}}></span>{{/if}}
    {{/if}}
  </li>
{{~/each~}}

<li class="emberTagInput-new">
  {{input
    disabled=readOnly
    class=(concat 'emberTagInput-input js-ember-tag-input-new' (if readOnly ' is-disabled'))
    maxlength=maxlength
    placeholder=placeholder
  }}
</li>
